<div>
  <div class="row">
    <h3>List Documents</h3>
  </div>

  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Document Id</th>
          <th>Document Name</th>
          <th>Document Type Id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents">
          <td>{{ document.documentId }}</td>
          <td>{{ document.documentName }}</td>
          <td>{{ document.documentType?.documentTypeId }}</td>
          <td>
            <button (click)="update(document.documentId)" class="btn btn-primary">Update</button>
            <button (click)="delete(document.documentId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            <button (click)="(document.documentId)" class="btn btn-primary" style="margin-left: 10px">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="create()" class="btn btn-primary">Create</button>
    <jhi-document-update
      [employeeId]="employeeId"
      [(isShowModal)]="isShowModal"
      [selectedDocumentId]="selectedDocumentId"
    ></jhi-document-update>
  </div>
</div>
